*~
*#
*.diff
*.bin
publish/*
tmp/*
conf.json
/sitemap.md
.ipynb_checkpoints/
leetcode/*
cracking-the-coding-interview/
/wikify.jar
/jwatch.jar
/jupyter/*_files/*
/jupyter/*.html
/jupyter/note*.tex
*.aux
*.log
*.out
*.pdf
*.toc
cards*
