<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="author" content="district10" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TZX's Notes</title>
    <style type="text/css">
        code{ white-space: pre; }
        q   { quotes: "“" "”" "‘" "’"; }
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
        * html #navigator   { position: absolute; }
        #navigator          { position: fixed; top: 1em; left: 1em; }
        #navigator a        { color: #887ddd; }

        .hdrRef {
            margin-left: 5px;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            color: rgba(255,255,255,0.3);
        }
        .hdrRef a {
            text-decoration: none;
            border: none;
        }
        .hdrRef:hover {
            color: rgba(255, 0, 0,1.0);
        }
    </style>
    <link rel="stylesheet" href="../github-markdown.css" type="text/css" />
    <link rel="stylesheet" href="../highlight.css" type="text/css" />
    <link rel="stylesheet" href="../notes.css" type="text/css" />
$if(math)$
    $math$
$endif$
</head>
<body class="markdown-body">
<a href="https://github.com/district10/notes">
    <img
        style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;"
        src="../fork-me-on-github.png" alt="Fork me on GitHub"></a>
<div id="navigator"><a href="../index.html" title="【回到笔记索引 | Back to Index】">☣</a></div>
$body$
<script src="../lazyload.min.js"></script>
<script src="../jquery-3.0.0.min.js"></script>
<script src="../egg.min.js"></script>
<script src="../notes.js"></script>
</body>
</html>
