h2 { padding-top: 2em; }

h1:before, h1:after,
h2:before, h2:after,
h3:before, h3:after,
h4:before, h4:after,
h5:before, h5:after,
h6:before, h6:after  {
    color: #9ddcff;
}

h1:before { content: "/     "; }
h2:before { content: "//    "; }
h3:before { content: "///   "; }
h4:before { content: "////  "; }
h5:before { content: "///// "; }
h6:before { content: "//////"; }

h1:after  { content: "     /"; }
h2:after  { content: "    //"; }
h3:after  { content: "   ///"; }
h4:after  { content: "  ////"; }
h5:after  { content: " /////"; }
h6:after  { content: "//////"; }

img {
    transition: transform 0.4s ease;
    transition: all 0.5s ease-in-out;

    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: -o-transform 0.4s ease;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-transition-delay: initial;
    -moz-transition-delay: initial;
    -o-transition-delay: initial;
    transition-delay: initial;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -transform-style: preserve-3d;

    z-index: 1;
    max-width: 95%;
}

img.dumb:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border: none;
}

.figure {
    margin: 0 auto 20px;
    text-align: center;
    display: block;
}

.figure img {
    display: block;
    max-width: 95%;
    width: auto\9;
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.tzx-fright .figure img,
.tzx-fleft  .figure img {
    max-width: 50%;
}

.figure img:hover,
p img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

p a img:hover {
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -o-transform: scale(1.35);
    transform: scale(1.35);
    border: 3px solid rgba(155, 155, 155, 0.5);
}

.figure .caption {
    min-width: 20%;
    max-width: 70%;
    min-height: 22px;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-style: italic;
    color: #999999;
    line-height: 1.6;
}

.figure .caption code {
    border: none;
    background-color: inherit;
}

.markdown-body dl dt:first-letter {
    font-size: 125%;
    text-transform: uppercase;
}

a.featured {
    border: 1px solid #9ddcff;
    border-radius: 3px;
    padding: 0.2em;
}
a.heart:after {
    color: red;
    content: " ❤";
}
a.todo:after {
    color: green;
    content: "♻";
}
a.flag:after {
    color: blue;
    content: " ⚑";
}

.markdown-body code.heart:after {
    color: red;
    content: "\00a0❤";
}
.markdown-body code.todo:after {
    color: green;
    content: "\00a0♻";
}
.markdown-body code.flag:after {
    color: blue;
    content: "\00a0⚑";
}

.markdown-body code.heart,
.markdown-body code.flag,
.markdown-body code.todo {
    margin: 0.4em;
    background-color: white;
    font-weight: bold;
    padding-right: 0.5em;
    border: 1px solid #9ddcff;
    border-radius: 3px;
}

.fold { display: none; }

a.footnoteRef { color: #ff8345; }
a.footnoteRef:hover {
    color: #ff1244;
    border: none;
    text-decoration: none;
}
a[id^=fnref].footnoteRef:target { border: 1px solid #9ddcff; }

dt:before               { letter-spacing: -1em; }
dt.drawerOpen:before    { content: "\00a0\00a0\00a0▼"; }
dt.drawerClose:before   { content: "\00a0\00a0\00a0▶"; }
dd.drawerHide           { display: none; }
dt.drawer,
dt.drawer + dd,
dd dd dt.drawer,
dd dd dt.drawer + dd {
    cursor: crosshair;
}
dd dt.drawer,
dd dt.drawer + dd,
dd dd dd dt.drawer,
dd dd dd dd dt.drawer + dd {
    cursor: cell;
}

.footnotes {
    font-size: 70%;
    line-height: 80%;
}
.footnotes ol li ol li {
    line-height: 100%;
}
.footnotes [id^=fn] {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.footnotes [id^=fn]:target {
    background-color: rgba(0,127,255,0.02);
    border-right: 5px solid lightgray;
    border-top:   1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-radius: 1em;

    -webkit-box-shadow: 0 0 25px 10px rgba(155, 155, 155, 0.5);
    -moz-box-shadow:    0 0 25px 10px rgba(155, 155, 155, 0.5);
    -o-box-shadow:      0 0 25px 10px rgba(155, 155, 155, 0.5);
    box-shadow:         0 0 25px 10px rgba(155, 155, 155, 0.5);
}
.footnotes [id^=fn]:hover {
    background-color: rgba(0,127,255,0.05);
}
.markdown-body div.footnotes hr:first-child {
    height: 1px;
    background-color: lightgray;
}
