<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="author" content="district10" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <link rel="stylesheet" href="$rootdir$github-markdown.css" type="text/css" />
    <link rel="stylesheet" href="$rootdir$highlight.css" type="text/css" />
    <link rel="stylesheet" href="$rootdir$notes.css" type="text/css" />
$if(math)$
<!--<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>-->
    <script src="https://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
$endif$
</head>
<body class="markdown-body">
<div id="navigator">
    <a id="gotoindex" href="$if(ISINDEX)$../$endif$index.html" title="【回到笔记索引 | Back to Index】">☣</a></div>
<div id="main-body">
$body$
</div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blur-svg">
    <defs>
        <filter id="blur-filter">
            <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        </filter>
    </defs>
</svg>
<script src="$rootdir$lazyload.min.js"></script>
<script src="$rootdir$jquery-3.0.0.min.js"></script>
<script src="$rootdir$jquery.idTabs.min.js"></script>
<script src="$rootdir$egg.min.js"></script>
<script src="$rootdir$clipboard.min.js"></script>
<script src="$rootdir$notes.js"></script>
</body>
</html>
