code{ white-space: pre; }
q   { quotes: "“" "”" "‘" "’"; }
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

h1,h2,h3,h4 { padding-top: 2em; }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    padding-top: 0.5em;
}

h1:before, h1:after,
h2:before, h2:after,
h3:before, h3:after,
h4:before, h4:after,
h5:before, h5:after,
h6:before, h6:after  {
    color: #9ddcff;
}

h1:before { content: "/     "; }
h2:before { content: "//    "; }
h3:before { content: "///   "; }
h4:before { content: "////  "; }
h5:before { content: "///// "; }
h6:before { content: "//////"; }

h1:after  { content: "     /"; }
h2:after  { content: "    //"; }
h3:after  { content: "   ///"; }
h4:after  { content: "  ////"; }
h5:after  { content: " /////"; }
h6:after  { content: "//////"; }

img {
    transition: transform 0.4s ease;
    transition: all 0.5s ease-in-out;

    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: -o-transform 0.4s ease;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-transition-delay: initial;
    -moz-transition-delay: initial;
    -o-transition-delay: initial;
    transition-delay: initial;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -transform-style: preserve-3d;

    z-index: 1;
    max-width: 95%;
}

.markdown-body .anchor { display: none; }
a.dumb:hover { text-decoration: none; }
img.dumb:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border: none;
}

.figure {
    margin: 0 auto 20px;
    text-align: center;
    display: block;
}

.figure img {
    display: block;
    max-width: 95%;
    width: auto\9;
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.tzx-fright .figure img,
.tzx-fleft  .figure img {
    max-width: 50%;
}

.figure img:hover,
p img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

p a img:hover {
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -o-transform: scale(1.35);
    transform: scale(1.35);
    border: 3px solid rgba(155, 155, 155, 0.5);
}

.figure .caption {
    min-width: 20%;
    max-width: 70%;
    min-height: 22px;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-style: italic;
    color: #999999;
    line-height: 1.6;
}

.figure .caption code {
    border: none;
    background-color: inherit;
}

.markdown-body dl dt:first-letter {
    font-size: 125%;
    text-transform: uppercase;
}

.markdown-body img.w12 { max-width: 40%; }
.markdown-body img.w13 { max-width: 30%; }
.markdown-body img.w14 { max-width: 20%; }
img[align='left'], img[align='right'] {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both;
}
img[align='left']   { padding-right:    1.5em; float: left; }
img[align='right']  { padding-left:     1.5em; float: right; }

a.featured {
    border: 1px solid #9ddcff;
    border-radius: 3px;
    padding: 0.2em;
}
a.heart:after,
a.hearts:after {
    color: red;
    content: " ❤";
}
a.todo:after {
    color: green;
    content: "♻";
}
a.flag:after {
    color: blue;
    content: " ⚑";
}
a.bad {
    text-decoration: line-through;
}

.markdown-body code.heart:after,
.markdown-body code.hearts:after {
    color: red;
    content: "\00a0 ❤";
}
.markdown-body code.todo:after {
    color: green;
    content: "\00a0 ♻";
}
.markdown-body code.flag:after {
    color: blue;
    content: "\00a0 ⚑";
}

.markdown-body code.heart,
.markdown-body code.hearts,
.markdown-body code.flag,
.markdown-body code.todo {
    margin: 0.4em;
    background-color: white;
    font-weight: bold;
    padding-right: 0.5em;
    border: 1px solid #9ddcff;
    border-radius: 3px;
}

a.footnoteRef { color: #ff8345; }
a.footnoteRef:hover {
    color: #ff1244;
    border: none;
    text-decoration: none;
}
a[id^=fnref].footnoteRef:target { border: 1px solid #9ddcff; }

p.simpledrawer:before,
dt.drawer:before,
li.drawer:before {
    letter-spacing: -1em;
}

// content: "\00a0\00a0\00a0 ▼"; // down
// content: "\00a0\00a0\00a0 ▶"; // right
p.simpledrawer,
p.simpledrawer + ul,
p.simpledrawer + ol {
    cursor: help;
}

p.drawer-ng-this,
*.drawer-ng-siblings,
li.drawer,
li.drawer > ul,
li.drawer > ol,
li.drawer li.drawer li.drawer,
li.drawer li.drawer li.drawer > ul,
li.drawer li.drawer li.drawer > ol,
li.drawer li.drawer li.drawer li.drawer li.drawer,
li.drawer li.drawer li.drawer li.drawer li.drawer > ul,
li.drawer li.drawer li.drawer li.drawer li.drawer > ol,
dt.drawer,
dt.drawer+dd,
dt.drawer+dd dt.drawer+dd dt.drawer,
dt.drawer+dd dt.drawer+dd dt.drawer+dd,
dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer,
dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer+dd {
    cursor: crosshair;
}

li.drawer li.drawer,
li.drawer li.drawer > ul,
li.drawer li.drawer > ol,
li.drawer li.drawer li.drawer li.drawer,
li.drawer li.drawer li.drawer li.drawer + ul,
li.drawer li.drawer li.drawer li.drawer + ol,
dt.drawer+dd dt.drawer,
dt.drawer+dd dt.drawer+dd,
dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer,
dt.drawer+dd dt.drawer+dd dt.drawer+dd dt.drawer+dd {
    cursor: cell;
}
p.focus,
dt.focus,
li.focus {
    border-bottom: 1px dotted lightgray;
}
p.focus.simpledrawerClose,
dt.focus.drawerClose,
li.focus.drawerClose {
    border-right: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
}
dd.focus,
ol.focus,
ul.focus {
    border-left: 1px dotted lightgray;
}

.footnotes {
    font-size: 80%;
}
.footnotes [id^=fn] {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.footnotes [id^=fn]:target {
    background-color: rgba(0,127,255,0.02);
    border-right: 5px solid lightgray;
    border-top:   1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-radius: 1em;

    -webkit-box-shadow: 0 0 25px 10px rgba(155, 155, 155, 0.5);
    -moz-box-shadow:    0 0 25px 10px rgba(155, 155, 155, 0.5);
    -o-box-shadow:      0 0 25px 10px rgba(155, 155, 155, 0.5);
    box-shadow:         0 0 25px 10px rgba(155, 155, 155, 0.5);
}
.footnotes [id^=fn]:hover {
    background-color: rgba(0,127,255,0.05);
}
.markdown-body div.footnotes hr:first-child {
    height: 1px;
    background-color: lightgray;
}

.markdown-body table {
    max-width: 100%;
}

#navigator          { position: fixed; top: 1em; left: 1em; }
#gotoindex          { color: #887ddd; }
body.foldable #gotoindex { border: none; }
body.locked #gotoindex {
    border: 3px solid red;
    border-radius: 10px;
}

#help {
    padding-right: 160px;
    color: silver;
    float: right;
    cursor: help;
}

.markdown-body .red,
.red {
    border: 1px solid red;
}
.markdown-body .green,
.green {
    border: 1px solid green;
}

.markdown-body p.simpledrawerOpen:before,
.markdown-body dt.drawer.drawerOpen:before,
.markdown-body li.drawer.drawerOpen:before,
.markdown-body p.drawer-ng-this.drawer-ng-open:before {
    // content: "\00a0\00a0\00a0 +";
}
.markdown-body p.simpledrawerClose:before,
.markdown-body dt.drawerClose:before,
.markdown-body li.drawerClose:before,
.markdown-body p.drawer-ng-close:before {
    // content: "\00a0\00a0\00a0 -";
}

.markdown-body p.simpledrawerClose:after,
.markdown-body dt.drawerClose:after,
.markdown-body li.drawerClose:after,
.markdown-body p.drawer-ng-close:after {
    content: "\00a0 ...";
    color: lightgray;
    font-size: 150%;
}

.markdown-body *.drawer-ng-siblings.drawer-ng-hide,
.markdown-body *.hide,
.markdown-body code.fold,
.markdown-body code.foldable,
.markdown-body code.fold-ng,
.markdown-body code.foldable-ng,
.markdown-body dd.drawerHide,
.markdown-body ul.drawerHide,
.markdown-body ol.drawerHide,
.markdown-body ul.simpledrawerHide,
.markdown-body ol.simpledrawerHide {
    display: none;
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -ms-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 5s ease-in-out;
}

.tabNav {                   border-bottom: 1px solid lightgray; padding-bottom: 1em; }
.tabNav li {                float:left; list-style-image:none;
                            list-style-position:outside; list-style-type:none; }
.tabNav ul a {              background:#D2DCF3; display:block; margin-right:2px; padding:3px 8px;
                            text-decoration:none !important; outline-color:invert; outline-style:none;
                            outline-width:medium; font-weight: bold; }
.tabNav ul a:hover {        background:#95B1CB; color:#fff }
.tabNav ul a.selected   {   background:#1B5790; color:#fff; cursor:default; }

.markdown-body .del {
    text-decoration:line-through;
}

li:last-of-type {
    margin-bottom: 1em;
}

.copyme { cursor: help; }

// p.refs, p.refs + ul { opacity: 0.2; }
// p.refs:hover, p.refs + ul:hover { opacity: 0.9; }
